footer {
    margin-top: 46px;
}

.footer__top {
    background-color: #222326;
    padding: 45px 70px 0px 130px;
    display: grid;
    grid-template-columns:  27% 13% 20% 25%;
    gap: 5%;
}

.footerTop__info {
    width: 90%;
}

.footerTop__info h3 {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family:openSansExtraBold ;
}

.footerTop__info p {
    font-size: 14px;
    color: white;
    text-align: justify;
    line-height: 1.5;
    font-family:arialMT;
}

#sm a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 25px;
}

.footerTop__info ul {
    padding-left: 0;
}

.footerTop__info ul li {
    list-style: none;
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 10% 90%;
}

.footerTop__info ul li span {
    color: #fbca00;
    font-size: 20px;
    text-align: center;
}

.footerTop__siteMap {}

.footerTop__siteMap h3 {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
    font-family:openSansExtraBold ;
}

.footerTop__siteMap ul {
    margin: 0;
    padding: 0;
}

.footerTop__siteMap ul li {
    color: #fbca00;
    text-align: left;
    margin-bottom: 37px;
    list-style: none;
}

.footerTop__siteMap ul li::before{
    content:"\A";
    width:7px;
    height:7px;
    border-radius:50%;
    background-color: #fbca00;
    display:inline-block;
    margin-right: 10px;
}

.footerTop__siteMap ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family:arialMT;
}

.footerTop__product {}

.footerTop__product h3 {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
    font-family:openSansExtraBold ;
}

.footerTop__product ul {
    margin: 0;
    padding: 0;
}

.footerTop__product ul li {
    color: #fbca00;
    text-align: left;
    margin-bottom: 37px;
    list-style: none;
}

.footerTop__product ul li::before{
    content:"\A";
    width:7px;
    height:7px;
    border-radius:50%;
    background-color: #fbca00;
    display:inline-block;
    margin-right: 10px;
}

.footerTop__product ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family:arialMT;
}

.footerTop__fanpage {}

.footerTop__fanpage h3 {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
    font-family:openSansExtraBold ;
}

.footerTopFanpage__img {}


.footer__bot {
    background-color: #1a1c1f;
    padding: 25px 70px 25px 130px;
    display: grid;
    grid-template-columns: 75% 25%;
}

.footerBot__left {
    margin-left: 0;
    color: white;
    font-size: 14px;
    font-family:arialMT;
}

.footerBoot__right {
    text-align: right;
    color: white;
    font-size: 14px;
    font-family:arialMT;
}