.main__right {}

.product__slide {
    background-image: url("../img/Mạnh\ Cường_01.jpg");
    background-size: cover;
    height: 413px;
}

.product__conten {}

.product__conten h1 {
    color: #fe2121;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.product__conten p {
    color: #464a50;
    font-size: 15px;
}

.product__conten p a {
    color: #0563ff;
}

.product__conten p span {
    color: #fe2121;
}

.product__home {}

.productHome__title{
    background-color: #222326;
}


.productHomeTitle__clipPath{
    clip-path: polygon(0 0, 203px 0, 250px 100%, 0 100%);
    background-color: #3b84b0;
    padding: 20px;
}

.productHomeTitle__clipPath h3 {
    color: #f2f1f1;
    font-size: 16px;
    margin: 0;
}

.productHome__list {
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.productHomeList__item {}

.productHomeListItem__block {
    background-color: #222326;
    padding-bottom: 10px;
}

.productHomeList__item a {
    text-decoration: none;
}

.productHomeList__item a h4 {
    color: white;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;

}

.productHomeList__item :hover {
    background-color: #3b84b0;
}