nav{
    background-color: #222326; 
}
.nav__menu{ 
    width: 75%;
}
.nav__menu ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav__menu ul li{
    list-style: none;
    position: relative;
}
.nav__menu ul li a{
    color:white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    padding: 18px;
    font-family:openSansRegular ;
}
.nav__menu ul li a:hover{
    background-color:#696969;   
     
}
.nav__menu ul li.active a{
    background-color:#696969;
}
.nav__search{
    color: white;
    text-align: right;
    width: 25%;
}

.nav__menu ul li ul.subMenu{
    position: absolute;
    display: none;
    width: 200px;
    background-color:#696969;
}

.nav__menu ul li ul.subMenu li{
    
}

.nav__menu ul li ul.subMenu li a{
    display: block;
}

.nav__menu ul li ul.subMenu li a:hover{
    background-color:  #3b84b0;
    color: rgb(255, 255, 255);
}

.nav__menu ul li:hover ul.subMenu {
    display: block;
}

